<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="TicketsForInfants">
        <classes>
            <class name="project.tests.ticketsForInfants.BuyTicketsTest" />
        </classes>
    </test>

    <test name="Products">
            <classes>
                <class name="project.tests.searchCompareProducts.SearchingProductTest" />
                <class name="project.tests.searchCompareProducts.CompareProdTest" />
            </classes>
    </test>

</suite>



